 .wrapper {
        margin: 40px 50px 50px 0;
      }
      .search-bar {
        padding: 8px 13px;
        border-radius: 5px;
        font-size: 14px;
        font-family: "Luxurious Roman", cursive;
        width: 300px;
        border: 1.5px solid #652a1e;
      }
      button {
        padding: 8px 13px;
        border-radius: 5px;
        font-size: 14px;
        font-family: "Luxurious Roman", cursive;
        background: #652a1e;
        color: #f5ece1;
        border: 1.5px solid #30110b;
        font-weight: 700;
        transition: all 200ms ease-in-out;
      }

      button:hover {
        cursor: pointer;
        background: #f5ece1;
        color: #652a1e;
      }

      #image {
        width: 700px;
        display: block;
        margin: 30px auto;
        border-radius: 5px;
      }

      #title {
        text-align: center;
        font-family: "Oleo Script", cursive;
        font-size: 53px;
        color: #652a1e;
      }

      h2 {
        font-family: "Gentium Book Basic", serif;
        color: #652a1e;
        font-size: 25px;
        text-align: center;
      }

      #preparation {
        font-family: "Gentium Book Basic", serif;
        font-size: 18px;
        width: 400px;
        border: 1px solid #652a1e;
        border-radius: 7px;
        line-height: 30px;
        width: 40%;
        display: block;
        float: left;
        box-sizing: border-box;

        margin: 10px 35px 10px 35px;
      }

      #ingredients {
        width: 50%;
        display: inline;
        box-sizing: border-box;
        font-family: "Gentium Book Basic", serif;
        font-size: 18px;
        border: 1px solid #652a1e;
        border-radius: 7px;
        line-height: 30px;
        margin: 10px 20px 20px 20px;
      }

      ul {
        padding: 0;
      }

      li {
        list-style-type: none;
        font-family: "Gentium Book Basic", serif;
        font-size: 18px;
        max-width: 900px;
        line-height: 25px;
        display: block;
        margin: 0 auto;
        padding: 5px 0 5px 0;
      }

      h3 {
        text-align: center;
        font-family: "Gentium Book Basic", serif;
        font-size: 20px;
      }

      p {
        font-family: "Gentium Book Basic", serif;
        font-size: 18px;
        text-align: center;
      }

      a {
        color: #652a1e;
        text-decoration: none;
        font-weight: 900;
      }

      a:hover {
        text-decoration: underline;
        color: blue;
        cursor: pointer;
      }

      .customer {
        width: 40px;
        height: 40px;
        border: 0.5px solid #652a1e;
        border-radius: 50%;
      }

      .review {
        width: 1100px;
        font-family: "Gentium Book Basic", serif;
        font-size: 16px;
        line-height: 25px;
        margin: 10px;
        text-align: justify;
      }

      .whole-page {
        display: block;
        margin: 0 auto;
        max-width: 1100px;
      }

      .ending {
          font-family: fantasy;
          text-align: center;
          margin: 30px auto 40px auto;
      }

      .facebook {
          color: #652a1e;
          transition: all 200ms ease-in-out;
      }

      .facebook:hover {
          cursor: pointer;
          color: blue;
          text-decoration: underline;
      }